<div class="all_access_ticketbuttoncontainer">
    <img class="tiny" src="/assets/dominatrix.png">


    <button class="all_access_ticketButtonToggler right"> ALL ACCESS TICKET </button> 
    
    <div class="all_access_ticketButton" style="display:none">

        <div id="all_access_ticket-button-container">
                <input type="hidden" name="descriptionInput" id="description" class="performerchoice" value="all access ticket">
                </input>
                <h1 class="step-headline">BUY ALL ACCESS TICKET</h1>
          
            
                <p class="tip_description">Buy access all performances friday the 30th of October 2020, 19-21 CET<br>
                <strong style="font-size: 20px"> € 25 </strong><br><br>
                This ticket will allow you to access all breakout rooms with every single performer for maximum satisfaction.<br>
                Submit your email above to obtain access and instructions to the Digital Dungeon, <br>
                and declare your username {{username}} when logging in to use your ticket

                </p>
              
              

            

        </div>
        <p class="all_access_ticketButtonUntoggler" >Let me exit. I dont want the all access ticket</p> 


    </div> 

</div>

