


<div class="description column">

     
        <div class="description-texts red">
            <p class="stretch"> PLAY4USNOW presents an exclusive performance on Friday, October 30 from 19:00-21:00 CET.
                </p>
             <h1 class="step-headline">Where Your Data Is Our Fetish</h1>

            {{!-- <div class="row changing_to_column">


                    <div class="payment_description">
                        <a class="action">
                            <p class="step-headline"> SUBMIT</p>
                            <p>Submit your email for <strong>FREE</strong> access to the Data Dungeon where our performers await</p>

                        </a>
                        
                    
                    </div>
                    <div class="payment_description">
                        <a class="action pay">
                            <p class="step-headline"> PAY</p> 
                            <p>Contribute a little extra for the full data domination experience! Buy a ticket for guaranteed admission to your selected performer’s show </p>

                        </a>  
                        
                    
                    </div>
                    <div class="payment_description">

                                        
                        <a class="action">
                            <p class="step-headline">BROWSE</p> 
                            <p>Meet our performers and discover their specialties</p>

                        </a>    
                    
                    </div>
            </div>
            <p class="stretch"><br>Your hot new kink is our specialty. Tell us your digital secrets to be granted FREE access to the Data Dungeon. Want to meet our tantalizing performers up close and personal? Pay for a ticket to see their fans-only show! Your data, our fetish, one night only. Privacy violations never felt so gooood.</p> --}}
            <p class="stretch step">1. Sign up below for free access</p>
            <p class="stretch step">2. Confirm Email (check spam folder)</p>
            <p class="stretch step">3. To access private shows choose a performer and buy an individual ticket, or buy an all access ticket today!</p>
        </div>



</div> 

