


<div class="description column">

     
        <div class="description-texts red">
            <p class="stretch"> PLAY4USNOW presented an exclusive performance <br>
            {{!-- on Friday, 30th of October 2020, 19-21:00 CET (2pm EST / 11am PST / 6pm GMT). --}}
                </p>
             <h1 class="step-headline">Where Your Data Is Our Fetish</h1>
             <video controls autoplay muted>
                <source src="https://play4usnow.s3.amazonaws.com/Play4UsNow+Documentation_2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            {{!-- <div class="row changing_to_column">


                    <div class="payment_description">
                        <a class="action">
                            <p class="step-headline"> SUBMIT</p>
                            <p>Submit your email for <strong>FREE</strong> access to the Data Dungeon where our performers await</p>

                        </a>
                        
                    
                    </div>
                    <div class="payment_description">
                        <a class="action pay">
                            <p class="step-headline"> PAY</p> 
                            <p>Contribute a little extra for the full data domination experience! Buy a ticket for guaranteed admission to your selected performer’s show </p>

                        </a>  
                        
                    
                    </div>
                    <div class="payment_description">

                                        
                        <a class="action">
                            <p class="step-headline">BROWSE</p> 
                            <p>Meet our performers and discover their specialties</p>

                        </a>    
                    
                    </div>
            </div>
            <p class="stretch"><br>Your hot new kink is our specialty. Tell us your digital secrets to be granted FREE access to the Data Dungeon. Want to meet our tantalizing performers up close and personal? Pay for a ticket to see their fans-only show! Your data, our fetish, one night only. Privacy violations never felt so gooood.</p> --}}
            <p class="stretch step">1. Give  us your data</p>
            <p class="stretch step">2. Sign up below to be notified about our next event</p>
            {{!-- <p class="stretch step">3. To access private shows choose a performer and buy an individual ticket, or buy an all access ticket today!</p> --}}
        </div>



</div> 

