


<div class="description column">
     
        <h1 class="step-headline">Where your data is our new fetish</h1>
        <p> on Friday October 30th from 19-21 CET the Digital Dungeon opens its doors for an evening of sexy services and data extrapolation. Enjoy free access to the mainroom and discover new ways of paying for access to breakout rooms with adult performances right here on www.play4usnow.com. <br></p>

        <div class="row changing_to_column">
              

                <div class="payment_description left">
                    <img class="tiny" src="/assets/camgirl.png">
                    <a class="action">
                        <p class="step-headline">BROWSE</p> 
                        <p> Browse for a performer of your dreams</p>

                    </a>           
                
                </div>
                <div class="payment_description center">
                    <a class="action">
                         <p class="step-headline"> SUBMIT</p>
                        <p> Submit below for a <strong>FREE</strong> access code to the online venue where our performers are already waiting for you</p>

                    </a>
                   
                </div>
                 <div class="payment_description right">

                    <a class="action pay">
                        <p class="step-headline"> PAY</p> 
                        <p> Pay in full or bucket your payment for easy access to private breakout rooms with adult content</p>

                    </a>                   
                
                   
                </div>
            </div>



</div> 

