<div id="letter">
    <div id ="staticletter">
    <p>Dear miss Jennifer Aniston
    {{#if description}}
        <br>this is an experiment in writing a letter together<br>
        underneath everyone are invited to write a part of a fan letter  <br> - sign it and send it to u!
    </p> {{/if}}
    </div>
    <p id="lettertext"> {{letter}} </p>
</div>


<!-- <script src = '/letter.js'></script> -->
