<div id="loader" class="centerContainer">
    {{!-- <div class="container">
	    <div class="loader"></div>
    </div> --}}
</div>

<div id="logocontainer" class="horizontalcenterContainer">

        <div id="headline" class="brasil" data-text="PLAY 4 US NOW {{name}}">PLAY 4 US NOW {{name}}</div>

</div>


