<head>
    <meta name='_csrf', content='{{csrfToken}}'>
</head>


<img class="tiny" src="/assets/dominatrix.png">
<div id="paypal-button-container">
          
        	<h1 class="step-headline small">PAY NOW 4 GUARANTEED ADMISSION TO OUR PERFORMERS’ PRIVATE SHOWS</h1>
            <div class="row changing_to_column">
                <div class="payment_description left">
                    <span class="action-headline">EARLY ACCESS TICKET</span><br>
                    <p> 
                    €8<br><br><br>
                    Pay early for guaranteed access to a show with the performer of your choice. Sale ends October 30, 12:00 CET.  <br>
                    
                    <br><br>
                    Instructions: 1) Select a performer. 2) Input €8 as payment (or more for a tip). 3) Forward your receipt or screenshot proof of payment to service@play4usnow.com, along with the username you will use in the Data Dungeon.
                
                </div>
                <div class="payment_description center">
                    <span class="action-headline">IN-SHOW TICKET</span>
                    <p> 
                    €13<br><br><br>
                    Pay full price inside the Data Dungeon to see the performer of your choice. Sale ends when show is full.<br>
              
                    <br><br>
                    Instructions: 1) Select a performer. 2) Input €13 as payment (or more for a tip). 3) Forward your receipt or screenshot proof of payment to service@play4usnow.com, along with the username you are using in the Data Dungeon.

                
                </div>
                 <div class="payment_description right">
                    <span class="action-headline">TIP BUCKET</span>
                    <p>
                    <br><br>
                    Pool your money with other users by contributing an amount of your choice. If a performer’s tip bucket reaches their goal amount, all contributors will be granted access to the performance! (Admission is not guaranteed.)<br>
                    {{!-- -> when you enter the Digital Dungeon, the PLAY4USNOW hosts will announce what tip buckets to submit to. <br> --}}
                     <br><br>
                    Instructions: 1) Select a performer. 2) Input your desired payment. 3) Forward your receipt or screenshot proof of payment to service@play4usnow.com, along with the username you are using in the Data Dungeon.


                    {{!-- <br><br><br>
                    NOTE: This option does not guarantee admission if the goal is not reached.
                    </p> --}}
                </div>
            </div>



            <div id="smart-button-container">

                <div class="column"><label for="description">CHOOSE A PERFORMER </label>
                <select name="descriptionInput" id="description" class="performerchoice" value="">
                            <option value="performer1">Petra Blair</option>
                            <option value="performer2">Kiko</option>
                            <option value="performer3">Violet Violent</option>
                            <option value="performer4">Goofy Toof</option>
                            <option value="performer5">Goddess Vanessa</option>
                            <option value="performer6">Vega Bonita</option>
                            <option value="performer7">Mistress Amandara</option>
                            {{!-- <option value="performer8">Vanessa8</option>
                            <option value="performer9">Vanessa9</option> --}}
                            <option value="global">send a tip to everyone</option>
                </select>
                    <p id="descriptionError" style="display: none; color:white;">Please pick a performer</p>
                </div>
                <div class="column"><label for="amount">& BUY A TICKET <span></span></label><input name="amountInput" type="number" class="tips" id="amount" value="" placeholder="__ EUR" >
                    <p id="priceLabelError" style="display: none; color:white;">Please enter a price</p>
                </div>
            </div>
            <p class="paypaldescription">If you pay with your PayPal app please be sure to annotate your username and choice of performer to service@play4usnow.com</p>
</div> 

<script src="/paypal.js"> </script>
