<div class="performer">
        {{>tips performer_name=name performer_index=@index url=url}}

        <img class="thumbnail"src="{{url}}">
        <h2 class="performer_name">{{name}}</h2>
        <p class="performer_description">{{service}}</p>
        <p>{{information}}</p>
</div>