

<head>
    <meta name='_csrf', content='{{csrfToken}}'>
</head>

<form class="popup" id="popup"  method="POST">
        <button id="closePopUp" class="closePopUp" value="too shy to answer">X</button>
        <p id="name" style="display:none">{{name}}</p>
         <p id="questionID" style="display:none"></p>
        <h1 id="popupHeadline"></h1>
        <p id="descriptiontext"></p>
        <h1 id="question"></h1>

        <div id="answers"></div>
</form>

   





<script src="/popup.js">



   