<div>
    <button class="tipButtonToggler"> TIP </button> 
    {{!-- {{performer_name}} --}}
    
    <div class="tipButton" style="display:none">

        <div id="tip-button-container" class="">
                <input type="hidden" name="descriptionInput" id="description" class="performerchoice" value="{{performer_name}}">
                </input>
               

                <p class="tip_description">GOOD TIPPER$ HAVE THE MOST FUN.</p>
                <img src="{{url}}">
                 <h1 class="step-headline">TIP {{performer_name}}, WITH</h1> 
                <div class="row center">
                    <label for="amount"><input name="amountInput" type="number" class="individual_tips" id="amount" value="" placeholder="__ EUR" >
                    </label> 
                    {{!-- <p>EUR</p> --}}
                </div>

        </div>
        <p class="tipButtonUntoggler" style="width: 100%;">Let me exit. I'm no fun</p> 

    </div> 
</div>

