<div class="tipButton">
   <div id="tip-button-container" class="column">

                <div>
                <select name="descriptionInput" id="description" class="performerchoice" value="">
                            <option value="{{performer_index}}">{{performer_name}}</option>
                </select>
                <div><label for="amount">WITH <input name="amountInput" type="number" class="tips" id="amount" value="" placeholder="TIP" ><span> EUR</span></label>
                </div>
                </div> 
    </div>
</div> 

