<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>JENNIFER ANISTON SUPERFANS</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>

            <img id="frame" src="../frame.png">
                {{{body}}}

        </main>

        <footer> <a id="houseofkillinghome" href="http://houseofkilling.com/"> 🌈🌈 have a nice day xoxo Esben Holk🌈🌈 </a> </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src = '/script.js'></script> -->


    </body>
</html>
