<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

        <title>PLAY4USNOW</title>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/animation.css">
        <link rel="stylesheet" href="/popup.css">
        <link rel="stylesheet" href="/ticker.css">

    </head>
    <body>
        <main>

                {{{body}}}

 

        </main>






    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  
    <script src="https://www.paypal.com/sdk/js?client-id=AdQChLSt0pcJO56zTsIhga0h-LHH--IcnZmS9DoenREb-JfBXe_fcPUHDf3LXlsjwnBNJNcFYI_VDoDx&currency=EUR" data-sdk-integration-source="button-factory"></script>


    <script src="/script.js"> </script>
    <script src="/onload.js"> </script>
    <script src="/paypal.js"> </script>


 





    </body>
</html>


