<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>CORONA CHRONICLES</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <main>

            <div id="particles-js"></div>
            <h1>CORONA CHRONiCLES</h1>

                {{{body}}}

        </main>

        <footer> <a id="houseofkillinghome" href="http://houseofkilling.com/"> 🌈🌈 have a nice day xoxo Esben Holk🌈🌈 </a> </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/script.js"> </script>

    </body>
</html>
