





<form method="POST"> hej say yes to cookies
    <input name="username" id="username" autocomplete="off" placeholder="tell us your username"></input>
    <input type="month"name="age" id="age" autocomplete="off"></input>

  <button name="yes"> SUBMIT </button>
  <button name="no"> EXIT </button>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">

</form>