


<div class="centerContainer">


    <form class="terms centerContainer column" method="POST"> 
        <p>{{terms}}</p>

        <div class="row">
            <p>username</p><input name="username" id="username" autocomplete="off" placeholder="tell us your username"></input>
        </div>
          <div class="row">
            <p>age</p><input type="number"name="age" id="age" autocomplete="off"></input>

        </div>
        
         <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="row">
            <button class="exitbutton"name="no"> EXIT </button>
            <button class="enterbutton" name="yes"> ENTER </button>
        </div>

    </form>


</div>
