<script>
var end = new Date('10/30/2020 07:00 PM');

    var _second = 1000;
    var _minute = _second * 60;
    var _hour = _minute * 60;
    var _day = _hour * 24;
    var timer;

    function showRemaining() {
        var now = new Date();
        var distance = end - now;
        if (distance < 0) {

            clearInterval(timer);
            document.getElementById('countdown').innerHTML = 'EXPIRED!';

            return;
        }
        var days = Math.floor(distance / _day);
        var hours = Math.floor((distance % _day) / _hour);
        var minutes = Math.floor((distance % _hour) / _minute);
        var seconds = Math.floor((distance % _minute) / _second);

        document.getElementById('countdown').innerHTML = days + '<p class="small">days </p>';
        document.getElementById('countdown').innerHTML += hours + '<p class="small">hrs </p>';
        document.getElementById('countdown').innerHTML += minutes + '<p class="small">mins</p> ';
        document.getElementById('countdown').innerHTML += seconds + '<p class="small">secs</p> ';
    }

    timer = setInterval(showRemaining, 1000);
</script>



<p class="alert">BUY TICKETS TO PRIVATE SHOWS <br> on <a href="/">WWW:PLAY4USNOW.COM</a></p> 


 <div class="centerContainer" >
       <img class="countdownimage" src="/assets/logo.png">
            <div class="countdown">
                <h1>PLAY 4 US IN </h1>
                <div id="countdown"></div>
                <h1>{{name}}</h1>
            </div>
          
        
</div>
<a class="homelink" href="/">visit www.play4usnow.com or contact service@play4usnow.com for more info on how to see, engage with and tip our performers</a>

