<div id="deletesignature-page">
    <img id="shockedaniston" src={{image}} alt="u really wanna delete your signature?">
    <div id="deletesignaturetext">
    <p>{{text}}</p>
    <a href="/petition"> but dont worry, u can do sign it again <br>go back to the letter </a>
</div>
</div>




{{> usermenu}}



<script src = '/canvas.js'></script>
