

<form class="data-collector" action="/senddata" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input name="username" id="username" autocomplete="off" placeholder="tell us your username"></input>
    <button type="submit" id="submit" > SUBMIT</button>

</form>

