<h1>CORONA CHRONCLES</h1>



<form id="sentenceuploader" action="/sentenceupload" method="POST">
    <p>{{sentence}}</p>
    <input name="sentence" id="sentence" autocomplete="off" placeholder="continue the chronicles"></input>
    <button type="submit" id="submit" > add to the chronicles</button>
</div>
</form>
