<div id="lettercontainer">
<h1 id="top" class="headline">JENNIFER ANISTON SUPERFANS</h1>
{{> letter description=true}}

{{error}}
<form id="subscriber_information" action="/signature" method="POST">
    <!-- <input name="firstName" id="firstName" placeholder="pls input your first name"> </input>
    <input name="lastName" id="lastName" placeholder="and now your last name... friend"> </input> -->
    <input name="message" id="message" autocomplete="off" placeholder="click here to write a text that you can add to the letter above! share your love for Aniston with all the superfans!"> </input>
    <input name="signature" id="secretsignature"></input>
    <p id="signers"> xoxo love from ... {{name}} </p>
    <div id="submitsignature">
    <canvas id="signature" width="500" height="100"> </canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" id="submit" > LOVE IT! SEND IT </button>
</div>
</form>

</div>
{{> usermenu}}

<script src = '/canvas.js'></script>
