
<div id="registrationpage" >
    <img id="coverimage" src="aletter4aniston.png" alt="aniston is fantastic right?">
    <h1 id="top" class="headline">JENNIFER ANISTON SUPERFANS</h1>

    <div id="registrationform">
    <p> {{error}} </p>
    <form id="registration" action="/register" method="POST">
    <p id="descriptiontext"> sign up as Jennifer Aniston Superfan and co-write a fan letter to your favorite superstar </p>
    <input autocomplete="off" name="firstName" id="firstName" placeholder="pls input your first name"> </input>
    <input autocomplete="off" name="lastName" id="lastName" placeholder="and now your last name... friend"> </input>
    <input autocomplete="off" name="email" id="email" placeholder="your unique email"> </input>
    <input autocomplete="off" name="password" type="password" id="password" placeholder="invent a password"></input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" id="register" > GOOD JOB! REGISTER HERE</button>
    </form>
    <p> or if u already have a user <a href="/login"> log in here! </a> </p>
    </div>
</div>
