<div class="thankyou">
    <a href="/superfans"> <img src="anistongif.gif" alt="aniston is gr8" id="happyanistongif"> </img> </a>
    {{> letter}}

    <p id="signers"> xoxo love from ... <br> {{name}} </p>

    <img src="{{signature}}">

    <a href="./allsignatures">
    click here to see who wrote miss Anistons letter with you </a>
</div>


{{> usermenu}}
