
html,
body{
  box-sizing: border-box;
}
*,
div,
img,
p,
h1,
h2,
h3,
form,
ul,
li{
  margin:0;
  padding:0;
  font-family: 'Arial';

}
p,
iframe,
video,
img{
  max-width: 100%;
  object-fit: contain;
}

h1{
  font-family: 'Tarrget';
  color: white;
}
button:focus{
  outline: none;
}


input:focus, textarea:focus, select:focus{
  outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: 'Tarrget';
  src: url('/assets/fonts/TarrgetCondensedItalic.woff2') format('woff2'),
      url('/assets/fonts/TarrgetCondensedItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('/assets/fonts/arial.ttf') format('ttfs');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'STRRETCH SANS';
  src: url('/assets/fonts/STRRETCHSANSRegular.woff2') format('woff2'),
      url('/assets/fonts/STRRETCHSANSRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}



* {margin: 0; padding: 0}
body {
  background: grey;
  overflow: hidden;
}
canvas {display: block;}

.user{
    display: none;
}
.row{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  opacity: 0;

}


.visible{
  opacity: 1;
}

.firegif{
  position: fixed;
  bottom: 0;
  height: 50px;

  width:100%;
  object-fit: fill;
  z-index: 9999999;
}

.firegif#one{
  position: fixed;
  bottom: 0;
}
.firegif#two{
  position: fixed;
  bottom: 0%;
}
.firegif#three{
  position: fixed;
  bottom: 0%;
}
.firegif#four{
  position: fixed;
  bottom: 0%;
}


#goodbye{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999999999;
}
#goodbye h1{
 text-align: center;
 width: 100%;
 text-shadow: 2px 10px 7px black;
}
