

.popup{
  position: fixed;
  display: none;
  z-index: 99999;
  box-shadow:
          0 0 20px #fff,      
          -10px 0 20px rgb(255,0,0),        
          10px 0 20px grey;   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  background-repeat: no-repeat;
  background-size: auto; 
}
#answers{
  flex-grow: 2;
  display:flex;
 flex-wrap: wrap;
}
#answers a{
  width: 100%;
  height: 100%;
}
#answers a img{
  width: 100%;
  height: 100%;
}
.button{
  flex-grow: 1;
  width: 49%;
  height: 30px;
}


.closePopUp{
  background-color: grey;
  position: absolute;
  top:0;
  right:0;
  width: auto;
  height: auto;
}
.imageChoice{
  min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;

}
input{
  background-color: white;
  color: black;
}
#popupHeadline{
  text-transform: uppercase;
}