html,
body{
  box-sizing: border-box;
}
*,
div,
img,
p,
h1,
h2,
h3,
form,
ul,
li{
  margin:0;
  padding:0;
  font-family: 'Arial';

}
p,
iframe,
video,
img{
  max-width: 100%;
  object-fit: contain;
}

h1{
  font-family: 'Tarrget';
  color: white;
}
button:focus{
  outline: none;
}


input:focus, textarea:focus, select:focus{
  outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: 'Tarrget';
  src: url('/assets/fonts/TarrgetCondensedItalic.woff2') format('woff2'),
      url('/assets/fonts/TarrgetCondensedItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src: url('/assets/fonts/arial.ttf') format('ttfs');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'STRRETCH SANS';
  src: url('/assets/fonts/STRRETCHSANSRegular.woff2') format('woff2'),
      url('/assets/fonts/STRRETCHSANSRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}



body{
  background-color: grey;
}

.red{
  background-color: red;
}
#agreement{
  display: none;
}
#loader{
  background-color: grey;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}


.megalogo{
  height: 90%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%)

}



main{
  position: relative;
  width: 100%;
  height: 100vh;
}
.horizontalcenterContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContainer{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-apart{
  justify-content: space-between;
}
.top{
  position: absolute;
  top:0;
  left:0;
}
.fixed{
  position: fixed;
  top:0;
  left:0;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}
.column.bottom{
  justify-content: flex-end;
}
.row.center{
  justify-content: center;
  align-items: center;
}
.align-left{
  justify-content: left;
}
.terms{

  width: 50%;
  height:auto;
  max-height: 90%;
  min-height: 300px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10%;
  padding: 2.5em;
 
  box-shadow:
  inset 0 0 50px #fff,      /* inner white */
  inset 20px 0 80px rgb(255,0,0),   /* inner left magenta short */
  inset -20px 0 80px grey,  /* inner right cyan short */
  inset 20px 0 300px rgb(255,0,0),  /* inner left magenta broad */
  inset -20px 0 300px grey, /* inner right cyan broad */
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey;         /* outer right cyan */

  
}
.terms img{
  max-height: 300px;
}
.mini-headline{
  width:100%;
  text-align: center;
  font-weight: 800;
}
.terms-text{
  background-color: blue;
  padding: 1em;
}
.terms-list{
  list-style: circle;
}
.terms-list li{
  list-style: circle;
  margin-left: 2em;
}
input{
  border-bottom: 1px solid red;
  background-color: rgba(255,255,255,0);
  font-size: 20px;
  height: auto;
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* margin-bottom: 0.2em; */
  color: red;
}
input::placeholder {
  color: black;
}
.terms-text{
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid red;
  margin-bottom: 2em;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header,
.userdetail,
.terms-headline{
  font-size: 13px;
  font-family: 'STRRETCH SANS';
  color: white;
  -webkit-text-stroke: 1px red;
  text-align: center;
}
.userdetails{
  margin-bottom: 20px;
}



.enterbutton{
  background-color: red;
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey;         /* outer right cyan */
  border: 1px solid white;
  height: 50px;
  color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 90%;
  font-family: 'Tarrget';
  text-align: center;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  /* text-shadow: 5px 3px 2px rgba(255, 255, 255, 1); */
  font-size: 1.5em;
  text-align: center;
  -webkit-text-stroke: 1px black;

}
.exitbutton{
  position: absolute;
  left:0;
  bottom:0;
  background-color: rgba(255,255,255,0);
  border: 0px solid white;
  color: white;
  text-decoration: underline;
  font-family: 'STRRETCH SANS';

}




.recaptcha{
  z-index: 10;
  background-color: rgb(249, 249, 249);
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2em;
  padding-left: 1em;
  padding-right: 1em;
  width: 300px;
  color: grey
}
.recaptcha img{
 object-fit: contain;
}
.recaptcha span{
  font-size: 9px;
}
.recaptcha a{
  font-size: 9px;
}
.recaptcha input{
  margin: 0;
  padding:0;
  width: auto;
  margin-right:10px;
}

.recaptcha-grid-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  max-width: 306px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.verify,
.question{
  background-color: #4A90E2;
  color: white;
  padding: 10px;
}
.verify{
  float: right;
}

.recaptcha-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;

  background-color: white;
}
.recaptcha-grid img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px white solid;
}
.recaptcha-grid img:hover{
  opacity: 0.5;
}
.opaque{
  background-color: red;
  z-index: 10;
}



.headline-container{
  width: 100%;
  height: 200px;
  position: relative;

  
}
.headline-logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  max-width:50%;
  height: 100%;
  object-fit: contain

}

.logo{
  width: 40%;
  max-width: 700px;
  min-width: 400px;
  animation: float ease 10s infinite;
  
}

.headline{
  /* margin-top: 0.6em;
  margin-bottom: 0.6em; */
  position: absolute;
  bottom: 7%;
  font-family: 'Tarrget';
  color: white;
  text-shadow: 10px 7px 2px rgba(255, 0, 0, 1);
  font-size: 3em;
  text-align: center;
  width: 100%;
  white-space: wrap;
  transform: translateY(-20%);
  letter-spacing: -0em;
  line-height: 0.55em;
  -webkit-text-stroke: 1px black;
}

.step-headline{
  font-family: 'Tarrget';
  color: white;
  text-shadow: 5px 3px 2px rgba(255, 0, 0, 1);
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke: 1px black;
  margin-bottom: 0.6em;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}
.step-headline.small{
  max-width: 70%;
}
.action-headline{
  font-family: 'Tarrget';
  color: white;
  font-size: 1.5em;
  -webkit-text-stroke: 1px black;
}


.left,
.right{
  width: 100%;
  object-fit: contain;
}
.frontpage{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow: hidden;

}
.description{
  color: white;
  font-family: 'STRRETCH SANS';
}
.description h1{
  width: 100%;
  text-align: center;
}
.description-texts{
  text-align: center;
  padding: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: 'STRRETCH SANS';
}
.stretch{
  font-family: 'STRRETCH SANS';
}
.stretch.step{
  font-size: 1.5em;
  width: 100%;
  text-align: left;
  margin-top: 1em;
}

.performercontainer{
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

.frontpage-div,
.performers{
  position: relative;
  margin-top: 4em;
  margin-bottom: 4em;
  width: 100%;
}

.payment-section{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 80px;
  right:0;
}

.tipbuttoncontainer{
  position: absolute;
  right:0;
  top: 0;
  background: red;
  width: auto;
  border-radius: 10px;
  padding: 5px;
  border: 3px white solid;
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey; 
}


.ticketButtonToggler{
  margin-bottom: 100px;
  transform: rotate(-25deg);
  text-align: center;
  font-size: 16px;
  height: auto;
  width: auto;
  border-radius: 50%;
  padding: 10px;
  border: 2px white solid;
  background-color: red;
  white-space: nowrap;
  color: white;
  font-family: 'Tarrget';
  position: relative;
  float: right;
}
.all_access_ticketButtonToggler{
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
  height: auto;
  width: 80%;
  border-radius: 50%;
  padding: 30px;
  border: 2px red solid;
  background-color: white;
  white-space: nowrap;
  color: red;
  font-family: 'Tarrget';
  position: relative;
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey; 
}
.all_access_ticketButtonToggler:hover{

  box-shadow:
  0 0 50px red,            /* outer white */
  -10px 0 80px white,        /* outer left magenta */
  10px 0 80px black; 
  background-color: red;
  border: 2px white solid;
}

.tipButtonToggler{
  position: absolute;
  top: -10px;
  right:-5px;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  padding: 5px;
  border: 2px red solid;
  background-color: white;
  white-space: nowrap;
  color: red;
  font-family: 'Tarrget';
}

.ticketButton{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: red;
  border: 2px white solid;
  width: 60%;
  height: 60%;
  z-index: 9999999999999;
}
.ticketButton img {
 width: 100%;
 object-fit: contain
}


.performer{
  position: relative;
  margin: 5px;

  color: white;
  font-family: 'Arial';

  max-height: 350px;
}
.performer a{
  color: white;
  text-decoration: none;
}
.performer a:hover{
  color: red;
  text-decoration: underline;
}
.performer_name{
  font-family: 'Tarrget';
  max-width: 80%;
}

.thumbnail{
  width: 100%;
  max-height: 80px;
  object-fit: cover;

}
.strip{
  background-color: red;
  width: 20px;
}
.strip img{
  width: 100%;
  object-fit: contain;
}
.main-content{
  /* flex-grow: 10; */
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow:
  inset 0 0 50px #fff,      /* inner white */
  inset -20px 0 80px grey,  /* inner right cyan short */

  inset -20px 0 300px grey, /* inner right cyan broad */        /* outer white */
  -10px 0 80px rgb(255,0,0)      /* outer left magenta */

}
.fronpage-div{
  margin-top: 2em;
  margin-bottom: 4em;
}



#paypal-button-container{
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  /* margin-bottom: 2em; */
  box-shadow: 0 0 50px #fff;   
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 2em;
}

#smart-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 99;
  max-width: 100%;
}
#smart-button-container select,
#smart-button-container input{
  max-width: 100%;
}


#smart-button-container div{
 margin: 5px;
 color: white;
 max-width: 45%;
}
#smart-button-container div label{
  color: white;
  font-family: 'Tarrget';
 }

.signup-block{
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-description{
  font-family: 'STRRETCH';
  color: red;
  display: inline-block;
  position: relative;
  z-index: 999999999999999999999;
}
.payment{
  position: relative;
  width: 100%;
}
.background-image{
  position: absolute;
  bottom:40px;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -999999999;
}
.performer-image{
  position: absolute;
  height: 90%;
  transform: translate(20%, 0);
  top: 0;
  right: 0;
  z-index: -10;
}
.countdownimage{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -99999;
  position: absolute;
  height: 90%;
  object-fit: contain;
  max-width: 100%;

}
.tiny{
  object-fit: contain;
  position: absolute;
  bottom:0;
  left: 0;
  height: 105%;
  transform: translateX(-30%);
  z-index:0;

}
.tips,
.performerchoice{
  height: 40px;
  border: none;
  width: 300px;

}
.tips:focus,
.performerchoice:focus{
  outline: none;
}

.payment_description{
  color: white;
  font-size: 12px;
  margin:2em;
  max-width: 25%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px;
  font-family: 'STRRETCH SANS';

}
.payment_description.right{
  text-align: right;
}
.payment_description.center{
  text-align: center;
}
.payment_description.left{
  text-align: left;

}
.paypaldescription{
  font-size: 10px;
  color: white;
  margin:4em;
}


.tip_description{
  margin-top: 2em;
  margin-bottom: 2em;

}
.individual_tips{
  width: 50px;
}
.all_access_ticketButton,
.ticketButton,
.tipButton{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  max-width: 50%;
  transform: translate(-50%, -50%);
  background-color: red;

  margin:0;
  display: flex;
  box-shadow: inset 0 0 50px #fff,      /* inner white */
  inset 20px 0 80px rgb(255,0,0),   /* inner left magenta short */
  inset -20px 0 80px grey,  /* inner right cyan short */
  inset 20px 0 300px rgb(255,0,0),  /* inner left magenta broad */
  inset -20px 0 300px grey, /* inner right cyan broad */
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey;         /* outer right cyan */

  max-height: 90%;
  min-height: 300px;
  border-radius: 10%;
  padding: 2.5em;
  color: white;


}


.tipButton input{
  width: 100%;
  border: 2px red solid;
  font-size: 20px;
  padding: 0;
  margin:0;

}
.tipButton select{
  width: 100%;
  border: 2px red solid;
  font-size: 10px;
  padding: 0;
  margin:0;


}
.all_access_ticketButtonUntoggler,
.ticketButtonUntoggler,
.tipButtonUntoggler{
  width: 100%;
  text-align: right;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
  margin: 10px;
  margin-right: 20px;
  padding: 0;
  font-size: 10px;

}
.all_access_ticketButtonToggler:hover,
.all_access_ticketButtonUntoggler:hover,
.ticketButtonToggler:hover,
.ticketButtonUntoggler:hover
.tipButtonToggler:hover,
.tipButtonUntoggler:hover{
text-decoration: underline;
color: red;
-webkit-text-stroke: 1px white;

}
.all_access_ticketbuttoncontainer{
  min-height: 200px;
  height: 50vh;
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey;         /* outer right cyan */
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  margin-bottom: 200px;
}



.countdown,
#countdown{
  font-family: 'Tarrget';
  color: white;
  text-shadow: 5px 3px 2px rgba(255, 0, 0, 1);
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke: 1px black;
  
}
#countdown{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-text-stroke: 2px black;
  background-color: red;
  width: 100%;
  border: 2px white solid;
  box-shadow:
  0 0 50px #fff,            /* outer white */
  -10px 0 80px rgb(255,0,0),        /* outer left magenta */
  10px 0 80px grey;         /* outer right cyan */
  border: 1px solid white;
}
.small{
  font-size: 30px;
  margin-right: 1em;
  margin-left: 15px;
  -webkit-text-stroke: 2px black;

}
.homelink{
  position: absolute;
  bottom:0;
  right: 0;
  text-align: right;
  color: white;
}
.alert{
  position: absolute;
  top: 20%;
  left: 20px;
  border-radius: 50%;
  border: 2px white solid;
  font-family: 'STRRETCH SANS';
  color: white;
  background-color: red;
  padding: 30px;
  transform: rotate(-30deg);
}
.alert a{
  font-family: 'STRRETCH SANS';
}



@media only screen and (max-width: 600px) {
  .recaptcha-grid-container{

    transform: translate(-50%, -50%);

  }
  .recaptcha-grid-container{

    width: 100%;
    max-width: 10000px;

  }
  .terms{
    width: auto;
    height:auto;
    max-height: 100%;
    min-height: 0;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0;
    padding: 2.5em;
   
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px rgb(255,0,0),   /* inner left magenta short */
    inset -20px 0 80px grey,  /* inner right cyan short */
    inset 20px 0 300px rgb(255,0,0),  /* inner left magenta broad */
    inset -20px 0 300px grey, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(255,0,0),        /* outer left magenta */
    10px 0 80px grey;         /* outer right cyan */
  
    
  }

  .performers{

    margin-top: 0em;
    margin-bottom: 0em;
  
  }
  .performercontainer{
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .strip{
    background-color: red;
    max-width: 10px;

  }
  .changing_to_column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .payment_description{

    width: 100%;
    max-width: 100%;
    min-height: 100px;

  }
  .headline-logo{
    max-width:100%;
    height: 100%;
  
  }
  .headline{
    /* margin-top: 0.6em;
    margin-bottom: 0.6em; */
    position: absolute;
    bottom: 7%;
    font-family: 'Tarrget';
    color: white;
    text-shadow: 2px 2px 1px rgba(255, 0, 0, 1);
    font-size: 3em;
    text-align: center;
    width: 100%;
    white-space: wrap;
    transform: translateY(-20%);
    letter-spacing: -0em;
    line-height: 0.7em;
    -webkit-text-stroke: 1px black;
  }
  .payment_description.right{
    text-align: center;
  }
  .payment_description.center{
    text-align: center;
  }
  .payment_description.left{
    text-align: center;
  
  }


  .all_access_ticketButton,
  .ticketButton,
  .tipButton{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%,0%);
    height: auto;
    width: auto;
    max-width: 100%;
    z-index: 9999;

  
  }
  .countdown,
  #countdown{
    font-family: 'Tarrget';
    color: white;
    text-shadow: 5px 3px 2px rgba(255, 0, 0, 1);
    font-size:  20px;
    text-align: center;
    -webkit-text-stroke: 1px black;
  
  }
  .small{
    font-size: 10px;
    margin-right: 1em;
    margin-left: 15px;
    -webkit-text-stroke: 2px black;
  
  }
  .all_access_ticketButtonToggler{
    font-size: 20px;
  }
}