@-webkit-keyframes argh-my-eyes {
  0%   { background-color: #fff; }
  49% { background-color: #fff; }
  50% { background-color: black;}
  99% { background-color: black;}
  100% { background-color: #ff0000; }
}
@-moz-keyframes argh-my-eyes {
  0%   { background-color: #ff0000; }
  49% { background-color: #ff0000; }
  50% { background-color: black;}
  99% { background-color: black;}
  100% { background-color: #ff0000; }
}
@keyframes argh-my-eyes {
  0%   { background-color: #ff0000; }
  49% { background-color: #ff0000; }
  50% { background-color: black;}
  99% { background-color:  black;}
  100% { background-color: #ff0000; }
}



.ticker {
    position: relative;
    overflow: hidden;
    height: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    
}
.ticker.topticker{
  margin-bottom: 1em;

}
.headlines {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    position: absolute;
    left: 0%;
    z-index: 8;
    /* -webkit-animation: argh-my-eyes 0.5s infinite;
    -moz-animation:    argh-my-eyes 0.5s infinite;
    animation:         argh-my-eyes 0.5s infinite; */

  
}

  
.ticker-object{
    padding-right: 40px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-family: 'Tarrget';
    font-size: 30px;
}

 
  